* {
    margin: 0;
    padding: 0;
}

a,
input,
button {
    display: block;
}

.back {
    background: url(../img/backmin.png) no-repeat top center;
    /*  background-size: cover;*/
}

.header {
    margin: 0 auto;
    min-width: 320px;
}

.nav {
    min-width: 186px;
    height: 175px;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
}

.account {
    display: flex;
    list-style: none;
    justify-content: center;
}

.hdr {
    width: 300px;
    height: 520px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.account li a {
    border: 2px solid black;
    border-radius: 20px;
    height: 32px;
    line-height: 1.2;
    padding-top: 6px;
    font-size: 16px;
    min-width: 84px;
    border: 2px solid rgba(255, 255, 255, 0);
    text-align: center;
}

.account li a:hover {
    border: 2px solid rgba(0, 0, 0, 1);
}