.absImg {
    position: absolute;
    top: 10px;
    opacity: 0.3;
}

.absImg1 {
    position: absolute;
    opacity: 0.3;
    left: 1px;
    border: 1px dotted;
}

.p2 {
    position: relative;
    border: 1px solid;
}