.name_employee{
    margin: 0;
    padding: 0;
    @include font-settings(14px, 1.2)
    font-family: $font-family-Montserrat;
    color: $accent-color-title;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

.work_name{
    margin: 0;
    padding: 0;
    @include font-settings(15px, 1.6)
    font-family: $font-family-Roboto;
    color: $worker-text-color;
    font-style: italic;
    text-align: center;
}