.list_socials{
    @extend %list;
    display: flex;
  
    &__item a{
        @include center-flex('all')
        width: 56px;
        height: 56px;
        background-color: #fce38a;
        border-right: 2px solid transparent;
        
        &:hover{
            background-color: $color-after_title;
        }

    }

    &__item svg{
        display: block;
        width: 26px;
        height: 26px;
        fill: $color-after_title;       
    }
    
    &__item:hover svg{
        fill: $accent-color-white;
    }

}






