html{
    box-sizing: border-box;
    line-height: 1;
}

*,
*::before,
::after{    
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
         url('../fonts/roboto-v20-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-regular - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* обьявление переменых*/
:root{
    --hover_time: 200ms;
    --color_main:rgb(255, 255, 255);
    --color_bottom: rgb(255, 78, 80); /*Основной цвет*/
    --color_h2:rgb(51, 51, 51);
    --color_about_partner:rgb(102, 102, 102);
    /* font-family */
    --ffm:'Montserrat';
    --ffr:'Roboto';
    /* line-height */
    --lhnav:1.6;
    /* font-size*/
    --fs14:14px;
    --fs18:18px;
    --fs20:20px;
    --fs22:22px;
    --fs30:30px;
    --fs24:24px;
    --fs52:52px;
     /*размеры icon*/

     /* Mobile */
    --bim:url(../img/Mobile.jpg);
    /* Tablet */
    --bit:url(../img/Tablet.jpg);
    /* Desktop */
    --bid:url(../img/Desktop.jpg);
}

    

/*общие*/
body,div,header,main,footer,section,article,h1,h2,h3,p,a,ul,li,form,input,span,textarea{
    list-style: none;
    text-decoration: none;
    outline: none;   /*убирает рамки*/
}
a,input,button{
    display: block;
}


.container{
    min-width: 320px;
    height: auto;
    margin: 0 auto;  /* отцентрировал блок*/
}
.baner{
    background: 
      linear-gradient(100deg,
    rgba(26, 25, 21, 0.05),
    rgba(26, 25, 21, 0.05)),
     var(--bim);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* header */

.header{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 300px;
    min-height: 540px;
    margin: 0 auto;
}

/* nav */
.nav-bar{
    display: flex;
    flex-direction: column-reverse;
    justify-content:	space-between;
    align-items: center;
    min-width: 186px;
    height: 175px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.logo{
        font-size: var(--fs20);
        font-family: var(--ffm);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
        color: var(--color_main);

}
.nav_joining{
    display: flex;
    align-items: center;
    min-width: 160px;
}

.nav_joining a{
    font-size: var(--fs14);
    font-family: var(--ffm);
    font-weight: bold;
    line-height: 1.2;
    padding-top: 6px;
    text-align: center;
    color: var(--color_main);

    min-width: 84px;
    height: 32px;
    
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0);
}
.nav_joining a::first-letter {
    text-transform: capitalize;
}

.nav_joining a:hover,
.nav_joining a:focus{
    line-height: 1.2;
    text-align: center;
    border: 2px solid var(--color_main);
    border-radius: 20px;
}

/* find partner */
.find_partner{

    align-items: center;
    color: var(--color_main);
    text-align: center;
    width: 300px;
    
}
  
.dream{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: var(--fs30);
    font-family: var(--ffm);
    color: var(--color_main);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;

    margin-bottom: 14px;
}
.dream_span{
    
    font-size:var(--fs18);
    font-family: var(--ffr);
    color: var(--color_main);
    line-height: 1.2;
    text-align: center;
    font-weight: 300;
    text-transform: lowercase;
    margin-top:8px;
    width: 220px;
}
.dream_span::first-letter{
    text-transform: capitalize;
}

.button_seek{
    font-size: var(--fs14);
    font-family: var(--ffm);
    color: var(--color_main);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;

    margin: 0 auto;
    width: 280px;
    height: 40px;

    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 20px;
    background-color: var(--color_bottom);
}

.button_seek::first-letter{
    text-transform: capitalize; 
}
/* main */
.your_partner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    padding-top: 70px;
}
/*meeting title name*/
.meet_for{
    font-size: var(--fs22);
    font-family: var(--ffm);
    color: var(--color_h2);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 15px;
}
/* list partner */
.partner_link li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:0 0 220px;
    margin-bottom: 30px;
}

.partner1 img,
.partner2 img,
.partner3 img,
.partner4 img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.img_partner{
    position: relative;
    width: 124px;
    height: 146px;
}

.img_partner::after{
    display: block;
    content: "";
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 42px;
    height: 42px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 4px solid var(--color_main);
}
.partner1 .img_partner::after{
    background-image: url(../img/img_icon/tv.png);
    background-color: rgb(255, 78, 80);
}
.partner2 .img_partner::after{
    background-image: url(../img/img_icon/bottle.png);
    background-color: rgb(255, 165, 7);
}

.partner3 .img_partner::after{
    background-image: url(../img/img_icon/cup.png);
    background-color: rgb(28, 215, 173);
}
.partner4 .img_partner::after{
    background-image: url(../img/img_icon/fly.png);
    background-color: rgb(78, 115, 219);
}
.name_partner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    font-size: var(--fs14);
    font-family: var(--ffr);
    color: var(--color_h2);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.about_partner{
    font-size: var(--fs14);
    font-family: var(--ffr);
    color: var(--color_about_partner);
    line-height: 1.2;
    text-align: center;
    font-weight: 300;
    width: 220px;
    text-transform: none;
}

.button_see{
    font-size: var(--fs14);
    font-family: var(--ffm);
    color: var(--color_bottom);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    width: 280px;
    height: 40px;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 20px;
    border: 2px solid var(--color_bottom);
    background-color: var(--color_main);
    margin-bottom: 58px;
}

/* ----------------------------------Tablet */

@media screen and (min-width: 768px){
.container{
    min-width: 748px;
}
.baner{
    background: 
      linear-gradient(100deg,
    rgba(26, 25, 21, 0.05),
    rgba(26, 25, 21, 0.05)),
     var(--bit);
     background-size: cover;
     background-position: center;
    background-repeat: no-repeat;
}

/* header */
.header{
    min-height: 700px;
    width: 748px;
 }
     
.find_partner{
    width: 530px;
    padding: 0;
}
/* nav */
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:	baseline;
    width: 658px;
    min-height: 225px;
}

.nav_joining{
    flex-direction: row;
}
.dream{ 
    font-size: var(--fs52);
    width: 530px;
}
.dream_span{
    font-size: var(--fs24);
    width: 400px;
}
.button_seek{
    margin: 0 auto;
    width: 225px; 
}
.meet_for{
    margin-bottom: 26px;
}
.your_partner{
    display: flex;
    width: 492px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


.partner_link{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.partner_link li{
    margin-top: 14px;
    margin-bottom: 40px;
}

}
.button_see{
    margin-top: 0;
    width: 190px;
}
/*----------------------------------- Desktop */
@media screen  and (min-width: 960px){
.container{
    min-width: 940px;
    }

.baner{
    background: 
      linear-gradient(100deg,
    rgba(26, 25, 21, 0.05),
    rgba(26, 25, 21, 0.05)),
     var(--bid);
     background-size: cover;
     background-position: center;
    background-repeat: no-repeat;
}
/* header */
.header{
    min-height: 700px;
    width: 940px;
}
.nav-bar{
    width: 940px;
}
.your_partner{
    width: 940px;
}
.partner_link{
    justify-content: space-between;
}

}